.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* makes sure the page is at least as tall as our screen length */

  display: flex;
  flex-direction: row; /* let's make our elements fit horizontally */
  align-items: center;
  justify-content: center;
  gap: 5%;

  font-size: calc(10px + 2vmin);
  color: white; /* changes the text color */
  padding-inline: 10%;
}

h1 {
  color: darkcyan;
}

.tagline {
  background-color: white;
  color: black;
  padding: 5%;
}

.pfp-img { /* styles our profile picture */
  border-radius: 50%;
  max-width: 40vw;
}
