.App {
  text-align: center;
}

.navbar {
  display: flex;
  max-height: 10vh;
  .mylogo {
    max-height: 10vh;
  }

  .mylogo:hover {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* makes sure the page is at least as tall as our screen length */

  display: flex;
  flex-direction: row; /* let's make our elements fit horizontally */
  align-items: center;
  justify-content: center;
  gap: 5%;

  font-size: calc(10px + 2vmin);
  color: white; /* changes the text color */
  padding-inline: 10%;
}

h1 {
  color: darkcyan;
}

.tagline {
  background-color: white;
  color: black;
  padding: 5%;
}

.pfp-img { /* styles our profile picture */
  border-radius: 50%;
  max-width: 40vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}